[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/webhook-register"
  to = "https://n8n.i-automate.es/webhook/a75d7fa4-6bb4-4691-88ca-01850bb41add"
  status = 200
  force = true
  headers = {X-From = "Netlify"}

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
